/**
 * *** General Styles *** *
 */

* {
  box-sizing: border-box;
  color: #293945;
  font-family: 'Merriweather', serif;
  margin: 0;
}

*,
fieldset {
  padding: 0;
}

:root,
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  line-height: 1;
}

:root,
h1,
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea,
button[type="submit"] {
  font-size: 1em;
}

.container {
  width: 90%;
  max-width: calc(768px * .9);
  margin: 0 auto;
}

/**
 * *** Header *** *
 */

header,
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea,
button[type="submit"] {
  width: 100%;
}

header,
footer p {
  text-align: center;
}

h1 {
  background-color: #2d3945;
  text-transform: uppercase;
  padding: 1.6875em 0;
  margin-bottom: 2em;
}

h1 .container ,
button[type="submit"] {
  color: #fff;
}

h2,
.legend,
footer p {
  font-size: .875em;
  padding-bottom: 1em;
}

p,
label,
input::-webkit-input-placeholder,
select {
  font-weight: 300;
}

header p {
  color: #b1b5b9;
  font-size: .6em;
  line-height: 1.75;
  letter-spacing: 1px;
  padding: 0 3.4em 3.75em;
  border-bottom: 4px solid #2d3945;
  margin-bottom: 3px;
}

/**
 * *** Form *** *
 */

 fieldset,
 button[type="submit"] {
   border: none;
 }

 legend {
   width: 100%;
 }

form .legend {
  padding-top: 2em;
  border-top: 2px solid #2d3945;
}

label {
  color: #55687a;
  margin: 1em 0 1.1705em;
}

label,
select {
  font-size: .75em;
}

.legend,
label,
form fieldset:nth-of-type(2) legend ~ label.block-label {
  display: block;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  background-color: #eff0f1;
  padding: .8125em 1.25em;
  border: 2px solid transparent;
  margin-bottom: .5em;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea,
button[type="submit"] {
  border-radius: 5px;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #46698b;
}

select,
input::-webkit-input-placeholder {
  color: #adb2b7;
}

input::-webkit-input-placeholder {
  position: relative; /* Vertical Alignment of a Placeholder */
  bottom: .25em; /* Vertical Alignment of a Placeholder */
  text-align: right;
  font-size: .625em;
  padding-right: 1.25em;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder,
footer p {
  font-style: italic;
}

select {
  height: 50px;
  min-height: 50px;
}

#zip-code {
  width: 55%;
  margin-bottom: 1.875em;
}

input[type="checkbox"],
input[type="radio"],
form fieldset:nth-of-type(2) legend ~ label {
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 .25em;
}

label:not([for]) {
  line-height: 1.5;
  letter-spacing: .5px;
  margin-bottom: 0.7em;
}

label[for$="-news"],
label[for$="-format"] {
  padding-top: .25em;
  margin-left: -.25em;
  margin-bottom: 1em;
}

label[for="user-commentary"] {
  margin-top: 2em;
  margin-bottom: 1.333em;
}

button[type="submit"] {
  background-color: #4ebbb5;
  padding: 1.25em 0;
  margin-top: 1.375em;
  margin-bottom: 1.75em;
}

/**
 * *** Footer *** *
 */

footer p {
   margin-bottom: 14em;
 }
